@page
@model MobileApiGateway.Pages.Documentation.V1.DeleteObjectModel
@{
    ViewData["Title"] = "DeleteObject";
}

<h1>DeleteObject</h1>

<div class="container">
    <h1>
        Can be accessed at POST <b>http://localhost:25000/api/catalog/object/delete</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authoriztion
                    </td>
                    <td>
                        Bearer "Token of an owner"
                    </td>
                </tr>
            </table>

        </div>
        <br />

        <div class="container">
            <h3>
                Body as JSON Object
            </h3>
            <pre>
{
    "ObjectId" : "1"
}
</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "message" : "The object has been deleted."
}					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: The object does not exists.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "CATALOG.OBJECT.DELETE.NOTFOUND",
    "message": "The object are trying to delete does not exists",
    "statusCode": 400
}</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 3: The object does not belong to you.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                401
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "CATALOG.OBJECT.DELETE.UNAUTHORIZED",
    "message": "You are unauthorized to delete this object",
    "statusCode": 401
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

