@page
@model MobileApiGateway.Pages.Documentation.V1.ObjectCreateModel
@{
    ViewData["Title"] = "Object Create";
}
<div class="container">
    <h1>
        Can be accessed at POST <b>http://HostName:Port/api/catalog/object/create</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />

        <div class="container">
            <h3>
                Body as JSON Object
            </h3>
            <pre>
{
    "objectName":"Mixer",                       :String
    "Description":"Working just fine",          :String
    "Tags":[                                    :Array of strings , At least two tags
        "Elcitronic",
        "Home stuff"
    ],
    "Type":"Free"                               :"Free", "Lending"
}
</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "message": "The object has been added",
    "objectId": 5
}					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: Less than two tags supplied.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "ErrorCode" : "OBJECT.ADD.TAGS.TOO.FEW",
    "Message" : "Please add at least two tags",
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>