@page
@model AdministrationGateway.Pages.Documentation.V1_1.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Usage Guide for V1.1</h1>

<a href="/documentation/v1.1/userslist">
    List users
</a>
<br />
