@page
@model AdministrationGateway.Pages.Documentation.V1.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Usage Guide for V1</h1>

<a href="/documentation/v1/listusers">
    List users
</a>
<br />

<a href="/documentation/v1/UsersCountLastDay">
    Users count for today
</a>
<br />

<a href="/documentation/v1/UsersCountLastMonth">
    Users count for the current month
</a>
<br />

<a href="/documentation/v1/UserObjects">
    Get the objects that is owned by a user.
</a>
<br />

<a href="/documentation/v1/UserTranses">
    Get the transactions that is related to a user.
</a>
<br />


<a href="/documentation/v1/UsersCountLastTwoYear">
    Users count for the current year &amp; the previous year
</a>
<br />

<a href="/documentation/v1/listTranses">
    List all transactions
</a>
<br />

<a href="/documentation/v1/listObjects">
    List all objects
</a>
<br />

<a href="/documentation/v1/GetObjectComments">
    Get Object comments
</a>
<br />

<a href="/documentation/v1/listTags">
    Get tags
</a>
<br />

<a href="/documentation/v1/AddTag">
    Add Tag
</a>
<br />

<a href="/documentation/v1/TransactionCountToday">
    Get transaction count over today
</a>
<br />

<a href="/documentation/v1/TransactionCountOverMonth">
    Get transaction count over month
</a>
<br />

<a href="/documentation/v1/TransactionCountOverYear">
    Get transaction count over year
</a>
<br />

<a href="/documentation/v1/deleteObject">
    Delete Object
</a>
<br />

<a href="/documentation/v1/deleteObjectComment">
    Delete comment
</a>
<br />