@page
@model AdministrationGateway.Pages.Documentation.V1.ListObjectsModel
@{
    ViewData["Title"] = "User objects";
}

<h1>Get all the objects </h1>

<div class="container">
    <h1>
        Can be accessed at GET <b>http://localhost:25001/api/catalog/object/allobjects</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>userId</td>
                    <td>int</td>
                    <td>The user id</td>
                </tr>
            </table>

        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authorization
                    </td>
                    <td>
                        bearer eyJhbGciOiJSU.zI1NiIsImtpZCI6Il.RimF1ZCI6WyJDYXRhbG9n    [An Admin Token]
                    </td>
                </tr>
            </table>

        </div>
        <br />

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "freeObjectsCount": 4,
    "rentingObjectsCount": 0,
    "lendingObjectsCount": 3,
    "objects": [
        {
            "id": 1,
            "name": "asdf",
            "description": "asdfasdfasf",
            "countOfViews": 0,
            "countOfImpressions": 11,
            "rating": null,
            "photos": [
                "http://localhost:20001/Resources/Photo/Object/607b3063-2b47-4c74-ad19-b7c52364d847"
            ],
            "tags": [
                "Here",
                "There"
            ],
            "type": "Lending",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 2,
            "name": "asdf",
            "description": "asdfasdfasf",
            "countOfViews": 0,
            "countOfImpressions": 11,
            "rating": null,
            "photos": [],
            "tags": [
                "Here",
                "There"
            ],
            "type": "Lending",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 3,
            "name": "asdf",
            "description": "asdfasdfasf",
            "countOfViews": 0,
            "countOfImpressions": 8,
            "rating": null,
            "photos": [],
            "tags": [
                "Here",
                "There"
            ],
            "type": "Free",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 4,
            "name": "asdf",
            "description": "asdfasdfasf",
            "countOfViews": 0,
            "countOfImpressions": 11,
            "rating": null,
            "photos": [
                "http://localhost:20001/Resources/Photo/Object/81722ef2-00b8-41cb-b8d2-b41339605712",
                "http://localhost:20001/Resources/Photo/Object/d348d55a-25e8-4536-a39d-ac95d5ae58af"
            ],
            "tags": [
                "Here",
                "There"
            ],
            "type": "Lending",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 5,
            "name": "Mixer",
            "description": "Working just fine",
            "countOfViews": 0,
            "countOfImpressions": 8,
            "rating": null,
            "photos": [],
            "tags": [
                "Elcitronic",
                "Home stuff"
            ],
            "type": "Free",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 6,
            "name": "Mixer",
            "description": "Working just fine",
            "countOfViews": 0,
            "countOfImpressions": 8,
            "rating": null,
            "photos": [],
            "tags": [
                "Elcitronic",
                "Home stuff"
            ],
            "type": "Free",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        },
        {
            "id": 10,
            "name": "Mixer",
            "description": "Working just fine",
            "countOfViews": 0,
            "countOfImpressions": 0,
            "rating": null,
            "photos": [],
            "tags": [],
            "type": "Free",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
            }
        }
    ]
}   				 </pre>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>