@page
@model AdministrationGateway.Pages.Documentation.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<a href="/documentation/v1/">
    Documentation V1
</a>
<br />

<a href="/documentation/login">
    Login
</a>
<br />
