@page
@model AuthorizationService.AddCommentModel
@{
    ViewData["Title"] = "Add Comment";
}

<h1>Add object comment</h1>

<div class="container">
    <h1>
        Can be accessed at POST <b>http://localhost:25000/api/catalog/object/comment/add</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <th>
                        Authorization
                    </th>
                    <th>
                        Bearer eyJhbGciOiJSUqd3QifQ.eyJuZmZsaW5lX2FcHdkIl19.BjtCUu2w0g
                    </th>
                </tr>
            </table>
        </div>
        <br />

        <div class="container">
            <h3>
                Body as Json.
            </h3>
            <pre>
{
    "ObjectId":1,
    "Comment":"Hello world"
}</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "message": "A New comment has been added"
}					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: The object id supplied does not exists.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "ErrorCode" : "OBJECT.ADD.COMMENT.OBJECT.NOT.EXISTS",
    "Message" : "The object you are trying to add comment to dose not exists",
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>