@page
@model AuthorizationService.Pages.Documentation.V1.CreateObjectRegistrationModel
@{
    ViewData["Title"] = "Create Object Registration";
}

<h1>Create Object Registration</h1>

<div class="container">
    <h1>
        Can be accessed at POST <b>http://HostName:Port/api/transaction/Registrations/create</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authoriztion525356

                    </td>
                    <td>
                        Bearer asdasdfasdf.asdfasdfasdf.asdfasdf
                    </td>
                </tr>
            </table>
        </div>
        <br />

        <div class="container">
            <h3>
                Body as JSON Object
            </h3>
            <pre>
{
    "ObjectId":5,           Int
    "ShouldReturnAfter":4   Int NULLABLE : Number of hours between receiving the thing and returning it, Required if the object is lending.
}
</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "registrationId": "c9743b94-5c67-434a-8754-8d76d91a0881",
    "objectId": 10,
    "shouldBeReturnedAfterReceving": "04:00:00",
    "registrationExpiresAtUtc": "2020-07-26T13:30:56.527202Z",
    "registrationToken": {
        "registrationToken": "9t-qsCJdHhWzq-URbzh450RRjyyOpWhyICvMpRNg5YV4LxiXA4rxu__vxyo-7U9zW-1AqoaoBhTWEaQwTNGkk9qOCN0jyKPoG0Ma",
        "createdAtUtc": "2020-07-24T13:30:57.0364035Z",
        "useBeforeUtc": "2020-07-30T13:30:57.036794Z"
    }
}
					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: ObjectId provided is faulty.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "TRANSACTION.OBJECT.RESERVE.NOT.EXISTS",
    "message": "The object specified does not exists",
    "statusCode": 400
}
</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 3: The object is not available right now .
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "TRANSACTION.OBJECT.RESERVE.NOT.AVAILABLE",
    "message": "This object is not available",
    "statusCode": 400
}</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 4: The shouldReturnAfter is not provided and the object type is lending.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "TRANSACTION.OBJECT.RESERVE.SHOULDRETURN.NULL",
    "message": "Please specify when you will return this object",
    "statusCode": 400
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

