@page
@model AuthorizationService.DocumentationV1IndexModel
@{
    ViewData["Title"] = "Usage Guide for V1";
}

<h1>Usage Guide for V1</h1>

<a href="/documentation/v1/registerUser">
    Register user
</a>