@page
@model AuthorizationService.Pages.Documentation.V1.RefreshTokenModel
@{
    ViewData["Title"] = "Refresh registration Token";
}

<h1>Refresh registration Token</h1>

<div class="container">
    <h1>
        Can be accessed at POST <b>http://HostName:Port/api/transaction/registration/refresh</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />

        <div class="container">
            <h3>
                Body as JSON Object
            </h3>
            <pre>
{
    "ObjectId":3,
}
</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "registrationToken": "tzxVsi1-5jAMBQY-TrPsuoDYqaUG1SZ6b2ZnPiyVZcGomMb4e-gOJv4Rhjm3c5X0AIS2v-iohgbkrJQgVnuqEvkDXtpsZlZlB6nD",
    "createdAtUtc": "2020-07-15T19:10:05.9653695Z",
    "useBeforeUtc": "2020-07-21T19:10:05.9660557Z"
}
					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: There is no previous registration for this object or the registration has been expired.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "TRANSACTION.REGISTRATION.REFRESH.NOT.VALID",
    "message": "You have no valid registration",
    "statusCode": 400
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>