@page ""
@model AuthorizationService.UploadProfilePhotoModel
@{
    ViewData["Title"] = "Upload profile photo";
}

<div class="container">
    <h1>
        Can be accessed at POST <b>http://HostName:Port/api/identity/profile/uploadPhoto</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <th>
                        Authorization 
                    </th>
                    <th>
                        Bearer eyJhbGciOiJSUqd3QifQ.eyJuZmZsaW5lX2FcHdkIl19.BjtCUu2w0g
                    </th>
                </tr>
            </table>
        </div>
        <br />

        <div class="container">
            <h3>
                Body as Form-Data, The Key: "file", The Value The image file.
            </h3>
            <pre>
curl --location --request POST 'http://localhost:20000/api/Profile/uploadPhoto' \
--header 'Authorization: Bearer eyJhbGciOiJSUqd3QifQ.eyJuZmZsaW5lX2FcHdkIl19.BjtCUu2w0g \
--form 'file=@@/G:/My Phone/Camera1/20170128_183358.jpg'
</pre>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "message": "The image has been uploaded"
}
					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: There is no image supplied.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode": "IMAGE.NULL",
    "message": "Please send a valid data",
}</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 3: The file supplied is not an image.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
	"errorCode": "IMAGE.NOT.IMAGE",
	"message": "Please send image",
}</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 4: The image is larger than 4 Mbyte.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
	"errorCode": "IMAGE.TOO.LARGE",
	"message": "Please send smaller image",
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>