@page
@model MobileApiGateway.Pages.Documentation.V1.DocumentationV1IndexModel
@{
    ViewData["Title"] = "Usage Guide for V1";
}

<h1>Usage Guide for V1</h1>

<a href="/documentation/v1/registerUser">
    Register user
</a>
<br />

<a href="/documentation/v1/ConfirmAccount">
    Confirm account
</a>
<br />

<a href="/documentation/v1/ResendEmailConfirmation">
    Resend email confirmation code
</a>
<br />

<a href="/documentation/v1/LoginCheck">
    Check login credentials
</a>
<br />

<a href="/documentation/v1/ObjectCreate">
    Create a new object
</a>
<br />

<a href="/documentation/v1/Objectlist">
    List objects
</a>
<br />

<a href="/documentation/v1/UploadObjectPhoto">
    Upload photo to an object
</a>
<br />

<a href="/documentation/v1/UploadProfilePhoto">
    Upload profile photo
</a>
<br />

<a href="/documentation/v1/ResourcePhoto">
    Get Photos
</a>
<br />


<a href="/documentation/v1/AddComment">
    Add Comments
</a>
<br />

<a href="/documentation/v1/TagList">
    Get Tags
</a>
<br />

<a href="/documentation/v1/ProfileInformation">
    Get profile information
</a>
<br />

<a href="/documentation/v1/CreateObjectRegistration">
    Register for an object
</a>
<br />

<a href="/documentation/v1/RefreshToken">
    Refresh object token
</a>
<br />

<a href="/documentation/v1/CancelRegistration">
    Cancel Object registration
</a>
<br />

<a href="/documentation/v1/AddReceiving">
    Add Receiving (Moving A Thing from Owner to loaner)
</a>
<br />

<a href="/documentation/v1/GetTransactionUserAsOwner">
    Get the user transactions where the calling user is Owner
</a>
<br />

<a href="/documentation/v1/GetTransactionUserAsRecipient">
    Get the user transactions where the calling user is Recipient
</a>
<br />

<a href="/documentation/v1/GetCommentsForObject">
    Get the object comments
</a>
<br />

<a href="/documentation/v1/AddLikeToObject">
    Add like to an object.
</a>
<br />

<a href="/documentation/v1/RemoveLikeFromObject">
    Remove a like from an object.
</a>
<br />


<a href="/documentation/v1/objectDetails">
    Get the object details.
</a>
<br />


<a href="/documentation/v1/generateReturnToken">
    Generate return token.
</a>
<br />


<a href="/documentation/v1/returnObject">
    return object
</a>
<br />

<a href="/documentation/v1/orderobjects">
    order objects
</a>
<br />


<a href="/documentation/v1/deleteObject">
    delete object
</a>
<br />

