@page ""
@model MobileApiGateway.Pages.Documentation.V1.ResendEmailConfirmationModel
@{
	ViewData["Title"] = "Resend email confirmation code";
}

<div class="container">
	<h1>
		Can be accessed at POST <b>http://HostName:Port/api/identity/account/ResendCode</b>
	</h1>
	<hr />
	<div class="container">
		<div class="container">
			<h3>
				Url Parameters
			</h3>
			<table class="table">
				<tr>
					<th>
						Key
					</th>
					<th>
						Type
					</th>
					<th>
						Value
					</th>
				</tr>
			</table>
			NONE.
		</div>
		<br />
		<div class="container">
			<h3>
				Header Parameters
			</h3>
			<table class="table">
				<tr>

					<th>
						Key
					</th>
					<th>
						Value
					</th>
				</tr>
			</table>
			NONE.
		</div>
		<br />

		<div class="container">
			<h3>
				Body as JSON Object
			</h3>
			<pre>
{
	"email":"abdulrhman.m.alrifai@gmail.com"        : String
}
</pre>
			<br />
			<br />
		</div>

		<div class="container">
			<h2>
				The Response Scenarios
				<br />
			</h2>
			<br />
			<div class="container">
				<h3>
					Scenario 1: All good.
				</h3>
				<br />
				<br />
				<div class="container">
					<h3>
						Headers parameters
					</h3>
					The most important headers are:
					<table class="table">
						<tr>

							<th>
								Key
							</th>
							<th>
								Value
							</th>
						</tr>
						<tr>
							<td>
								StatusCode
							</td>
							<td>
								200
							</td>
						</tr>
					</table>
				</div>

				<br />
				<div class="container">
					<h3>
						Body
					</h3>


					<pre>
{
	"message": "An email was sent to abdulrhman.m.alrifai@@gmail.com with the confirmation code"
}
					 </pre>
					<br />
				</div>
			</div>
			<div>
				<hr />
				<h3>
					Scenario 2: The email is not an account.
				</h3>
				<br />
				<div class="container">
					<h3>
						Headers parameters
					</h3>
					The most important headers are:
					<table class="table">
						<tr>

							<th>
								Key
							</th>
							<th>
								Value
							</th>
						</tr>
						<tr>
							<td>
								StatusCode
							</td>
							<td>
								400
							</td>
						</tr>
					</table>
				</div>

				<br />
				<div class="container">
					<h3>
						Body
					</h3>
					<pre>
{
	"errorCode": "EMAIL.CONFIRMATION.RESEND.EMAIL.FAULTY",
	"message": "The email you provided is faulty",
}
</pre>
					<br />
				</div>
			</div>
		</div>
	</div>
</div>