@page
@model AuthorizationService.DocumentationIndexModel
@{
    ViewData["Title"] = "Documentation";
}

<h1>Documentation</h1>

<br />
<a href="documentation/v1">
    Documentation for V1
</a>

<br />
<a href="documentation/login">
    User login
</a>