@page
@model AuthorizationService.DocumentationIndexModel
@{
    ViewData["Title"] = "API Usage guide";
}

<h1>Documentation</h1>

<br />
<a href="documentation/v1">
    Documentation V1
</a>

<br />
<br />
<a href="documentation/login">
    User login
</a>