@page
@model MobileApiGateway.Pages.Documentation.V1.DocumentationIndexModel
@{
    ViewData["Title"] = "API Usage guide";
}

<h1>Documentation</h1>

<br />
<a href="documentation/v1">
    Documentation V1
</a>
<br />
<a href="documentation/v1_1">
    Documentation V1.1
</a>

<br />
<br />
<a href="documentation/login">
    User login
</a>

<br />
<br />
<br />
<h2>What's new</h2>
<ul>
    <li>
        Adding CommentsCount, LikesCount, IsLikedByMe, DistanceInMetere to the
        <a href="documentation/v1_1/objectListV1_1"> object list v1.1</a>
    </li>
</ul>