@page
@model MobileApiGateway.Pages.Documentation.V1.LoginModel
@{
    ViewData["Title"] = "Get Access Token";
}

    <div class="container">
        <h1>
            Can be accessed at POST <b>http://HostName:Port/identity/connect/token</b>
        </h1>
        <hr />
        <div class="container">
            <div class="container">
                <h3>
                    Url Parameters
                </h3>
                <table class="table">
                    <tr>
                        <th>
                            Key
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </table>
                NONE.
            </div>
            <br />
            <div class="container">
                <h3>
                    Header Parameters
                </h3>
                <table class="table">
                    <tr>

                        <th>
                            Key
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Content-Type
                        </td>
                        <td>
                            application/json
                        </td>
                    </tr>
                </table>
            </div>
            <br />

            <div class="container">
                <h3>
                    Body as JSON Object
                </h3>
                <pre>
{
	"username":"Abdulrhman.Alrifai@outlook.com",   : String
	"password":"1234512345",                    : String
	"grant_type":"password",                    : String Constant
    "loginInfo": "Lon=11.11&Lat=11.11&Imei=XXXX": String 
}
</pre>
                <h4>
                    Notes
                </h4>
                <ul>
                    <li>
                        The 'LoginInfo' must contain
                        <ul>
                            <li>
                                Lon is the longitude of the user
                            </li>
                            <li>
                                Lat is the Latitude of the user
                            </li>
                            <li>
                                Imei is the device's Imei
                            </li>
                        </ul>
                        
                    </li>
                </ul>
            </div>

            <div class="container">
                <h2>
                    The Response Scenarios
                    <br />
                </h2>
                <br />
                <div class="container">
                    <h3>
                        Scenario 1: All good.
                    </h3>
                    <br />
                    <br />
                    <div class="container">
                        <h3>
                            Headers parameters
                        </h3>
                        The most important headers are:
                        <table class="table">
                            <tr>

                                <th>
                                    Key
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    StatusCode
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br />
                    <div class="container">
                        <h3>
                            Body
                        </h3>


                        <pre>
{
    "access_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IlRiRy1uS0VRc2VzdjBERjJpWlJwYXciLCJ0eXAiOiJhdCtqd3QifQ
        .eyJuYmYiOjE1ODg4ODA3NzAsImV4cCI6MTU4ODg4NDM3MCwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDoyMDAwMCIsImF1ZCI6Ik1vY
        mlsZUJmZiIsImNsaWVudF9pZCI6Ik1vYmlsZUJmZiIsInN1YiI6IjhiMzhiNDg3LTJmODYtNDFkZS1iMzAwLTZlOWQ1MDg5MzQyMyIsImF1dGhfdGl
        tZSI6MTU4ODg4MDc2OSwiaWRwIjoibG9jYWwiLCJ0aWQiOiJiOWZlOWIyMS1jNmM3LTRjMjItOTIyZS1hZDBiOWUxMTI5ZDgiLCJzY29wZSI6WyJNb2JpbGVCZ
        mYiLCJvZmZsaW5lX2FjY2VzcyJdLCJhbXIiOlsicHdkIl19.Ay_kms4X8pq5imXJJAcSw5P6uv6a4I8zdQwvmtJ4yFZinaIs4_he0qPUDUzD53_NfqmdCmwgRs8ovB-ZTa-eD
        6QVRNo4daazRWDEIbzP6lsFNExznqsAb3ccxt2ki32qlj6J6bp6tc3rCJk1jhz-gbyzC-liYN9gX3KgvQAIwl7xR8GYyEtradCFILJCMCeJHgnng0Mavrie_JFWPjPV9GdqC9ckp2dg
        AZ1yuJPvPnXg4duemHaqFzS59W31nhT_NJV4YISg9umyTWwE-Zc2SYHWXUJ4H4Su_GepfyJLVg3EsoeQFPYr_TZZEiNmjjbfJMSbcKh4ml68v1-kAS9qGQ",
    "expires_in": 3600,
    "token_type": "Bearer",
    "refresh_token": "wOwIK500ZbuqV8xM_pQV8TtLfZPwz23rSmEZ7_9zgBE",
    "scope": "MobileBff offline_access",
    "tokenId": "b9fe9b21-c6c7-4c22-922e-ad0b9e1129d8"
}
					 </pre>
                        <br />
                    </div>
                </div>
                <div>
                    <hr />
                    <h3>
                        Scenario 2: The email or the password is incorrect.
                    </h3>
                    <br />
                    <div class="container">
                        <h3>
                            Headers parameters
                        </h3>
                        The most important headers are:
                        <table class="table">
                            <tr>

                                <th>
                                    Key
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    StatusCode
                                </td>
                                <td>
                                    400
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br />
                    <div class="container">
                        <h3>
                            Body
                        </h3>
                        <pre>
{
    "error": "invalid_grant",
    "error_description": "invalid_username_or_password"
}
</pre>

                        <br />
                    </div>
                </div>

                <div>
                    <hr />
                    <h3>
                        Scenario 3: Login information is empty or has faulty data.
                    </h3>
                    The latitude should have a value between -90 <= lat <= 90
                    The Longitude should have a value between -180 <= lon <= 180
                    <br />
                    <div class="container">
                        <h3>
                            Headers parameters
                        </h3>
                        The most important headers are:
                        <table class="table">
                            <tr>

                                <th>
                                    Key
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    StatusCode
                                </td>
                                <td>
                                    400
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br />
                    <div class="container">
                        <h3>
                            Body
                        </h3>
                        <pre>
{
    "error": "invalid_request",
    "error_description": "LoginInformation should be formated like this lan=99.99&lat=99.99&Imei=xxxx"
}</pre>

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>