@page
@model AdministrationGateway.Pages.Documentation.V1.AddTagModel
@{
    ViewData["Title"] = "Add Tag";
}

<h1>Add Tag</h1>


<div class="container">
    <h1>
        Can be accessed at POST <b>http://localhost:25000/api/catalog/tag/add</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </table>
            NONE.
        </div>
        <br />
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authorization
                    </td>
                    <td>
                        bearer eyJhbGciOiJSU.zI1NiIsImtpZCI6Il.RimF1ZCI6WyJDYXRhbG9n
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <div class="container">
            <h3>
                Body as Form-Data
            </h3>
            <table class="table">
                <tr>
                    <th>Key</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>TagName</td>
                    <td>Text</td>
                    <td>The tag name to be added</td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td>File</td>
                    <td>THE_FILE_CONTENT</td>
                </tr>
            </table>
            <br />
            <br />
        </div>

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
{
    "id": 1005,
    "name": "The tag name",
    "photoUrl": "http://localhost:20001/Resources/Photo/Tag/c048502d-52ed-42f0-b232-5d7219f5f869"
}					 </pre>
                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 2: Tag Already existed.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
    "errorCode" : "CATALOG.TAG.ADD.ALREADY.EXISTED",
    "message" : "The tag you are trying to add is already existed.",
}</pre>

                    <br />
                </div>
            </div>
            <div>
                <hr />
                <h3>
                    Scenario 3: The file supplied is not an image.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
	"errorCode": "IMAGE.NOT.IMAGE",
	"message": "Please send image",
}</pre>

                    <br />
                </div>
            </div>

            <div>
                <hr />
                <h3>
                    Scenario 4: The image is larger than 4 Mbyte.
                </h3>
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                400
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <pre>
{
	"errorCode": "IMAGE.TOO.LARGE",
	"message": "Please send smaller image",
}</pre>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>