@page
@model AdministrationGateway.Pages.Documentation.V1.ListTransesModel
@{
    ViewData["Title"] = "List transactions";
}

<h1>List transactions</h1>


<div class="container">
    <h1>
        Can be accessed at GET <b>http://localhost:25001/api/transaction/Transaction/AllTranses</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                None.
            </table>

        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authorization
                    </td>
                    <td>
                        bearer eyJhbGciOiJSU.zI1NiIsImtpZCI6Il.RimF1ZCI6WyJDYXRhbG9n    [An Admin Token]
                    </td>
                </tr>
            </table>

        </div>
        <br />

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>
                    <h4> Note</h4>
                    Possible values for "returnStatus"
                    <ul>
                        <li>NotTakenYet</li>
                        <li>NotDueYet</li>
                        <li>Returned</li>
                        <li>Delayed</li>
                        <li>PossibleTheft</li>
                    </ul>

                    <pre>
{
    "reservedTransactionsCount": 7,
    "deliveredTransactionsCount": 0,
    "returnedTransactionsCount": 0,
    "transactions": [
        {
            "registrationId": "b56334c0-257e-4224-8f76-0228977022b8",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Free",
            "registredAtUtc": "2020-12-14T20:19:07",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": null,
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "receiver": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "object": {
                "id": 2,
                "name": "asdf",
                "description": "asdfasdfasf",
                "photoUrl": null
            }
        },
        {
            "registrationId": "af34eb83-c86e-4695-a4f1-15e7ca4d01a3",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Free",
            "registredAtUtc": "2020-12-14T22:01:09",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": null,
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "receiver": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "object": {
                "id": 4,
                "name": "asdf",
                "description": "asdfasdfasf",
                "photoUrl": "http://localhost:20001/Resources/Photo/Object/81722ef2-00b8-41cb-b8d2-b41339605712"
            }
        },
        {
            "registrationId": "b713e5aa-a837-45bd-8b0f-292a132eb976",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Lending",
            "registredAtUtc": "2020-07-24T18:04:51.2216501",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": "04:00:00",
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "receiver": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "object": {
                "id": 10,
                "name": "Mixer",
                "description": "Working just fine",
                "photoUrl": null
            }
        },
        {
            "registrationId": "e2c082a9-e843-4848-add5-42cbf688afcf",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Free",
            "registredAtUtc": "2020-09-12T15:19:25",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": null,
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "dd6cafb3-b154-475e-a309-610f3d2d91bf",
                "username": "SecondUser@Street.com",
                "name": null,
                "email": "SecondUser@Street.com",
                "pictureUrl": "http://localhost:20000/favicon.ico",
                "phoneNumber": null
            },
            "receiver": {
                "id": "dd6cafb3-b154-475e-a309-610f3d2d91bf",
                "username": "SecondUser@Street.com",
                "name": null,
                "email": "SecondUser@Street.com",
                "pictureUrl": "http://localhost:20000/favicon.ico",
                "phoneNumber": null
            },
            "object": {
                "id": 1,
                "name": "asdf",
                "description": "asdfasdfasf",
                "photoUrl": "http://localhost:20001/Resources/Photo/Object/607b3063-2b47-4c74-ad19-b7c52364d847"
            }
        },
        {
            "registrationId": "33c7fcf0-1de4-49ff-911c-63f6863a53d1",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Lending",
            "registredAtUtc": "2020-12-15T18:59:12",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": "04:00:00",
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "receiver": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "object": {
                "id": 5,
                "name": "Mixer",
                "description": "Working just fine",
                "photoUrl": null
            }
        },
        {
            "registrationId": "b7d1f6fd-52c5-4820-a673-a4c7c022a4c5",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Lending",
            "registredAtUtc": "2020-12-14T22:02:01",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": "05:00:00",
            "hourlyCharge": null,
            "transactionStatus": "Canceled",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "receiver": {
                "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
                "username": "Abdulrhman.m.Alrifai@gmail.com",
                "name": "Abduluhman",
                "email": "Abdulrhman.m.Alrifai@gmail.com",
                "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee",
                "phoneNumber": "+963 930-129-552"
            },
            "object": {
                "id": 3,
                "name": "asdf",
                "description": "asdfasdfasf",
                "photoUrl": null
            }
        },
        {
            "registrationId": "41bf852e-d77e-4c8c-9ac2-cd461138a67d",
            "receivingId": null,
            "returnId": null,
            "transcationType": "Free",
            "registredAtUtc": "2020-09-04T15:19:25.4187778",
            "receivedAtUtc": null,
            "returenedAtUtc": null,
            "shouldReturnAfter": null,
            "hourlyCharge": null,
            "transactionStatus": "RegisteredOnly",
            "returnStatus": "NotTakenYet",
            "owner": {
                "id": "9b4210dc-49b9-4031-9a7a-dcc769a0cac8",
                "username": "ThirdUser@Street.com",
                "name": null,
                "email": "ThirdUser@Street.com",
                "pictureUrl": "http://localhost:20000/favicon.ico",
                "phoneNumber": null
            },
            "receiver": {
                "id": "9b4210dc-49b9-4031-9a7a-dcc769a0cac8",
                "username": "ThirdUser@Street.com",
                "name": null,
                "email": "ThirdUser@Street.com",
                "pictureUrl": "http://localhost:20000/favicon.ico",
                "phoneNumber": null
            },
            "object": {
                "id": 2,
                "name": "asdf",
                "description": "asdfasdfasf",
                "photoUrl": null
            }
        }
    ]
}
  				 </pre>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>