@page
@model AuthorizationService.Pages.Documentation.V1_1.ObjectListV1_1Model
@{
    ViewData["Title"] = "Object list v1.1";
}

<h1>Object list v1.1</h1>


<div class="container">
    <h1>
        Can be accessed at GET <b>http://HostName:Port/api/catalog/object/v1.1/list</b>
    </h1>
    <hr />
    <div class="container">
        <div class="container">
            <h3>
                Url Parameters
            </h3>
            <table class="table">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        startObject
                    </td>
                    <td>
                        int
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        size
                    </td>
                    <td>
                        int
                    </td>
                    <td>
                        10
                    </td>
                </tr>

            </table>
        </div>
        <br />
        <div class="container">
            <h3>
                Header Parameters
            </h3>
            <table class="table">
                <tr>

                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                <tr>
                    <td>
                        Authorization
                    </td>
                    <td>
                        bearer eyJhbGciOiJSU.zI1NiIsImtpZCI6Il.RimF1ZCI6WyJDYXRhbG9n
                    </td>
                </tr>
            </table>

        </div>
        <br />

        <div class="container">
            <h2>
                The Response Scenarios
                <br />
            </h2>
            <br />
            <div class="container">
                <h3>
                    Scenario 1: All good.
                </h3>
                <br />
                <br />
                <div class="container">
                    <h3>
                        Headers parameters
                    </h3>
                    The most important headers are:
                    <table class="table">
                        <tr>

                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        <tr>
                            <td>
                                StatusCode
                            </td>
                            <td>
                                200
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="container">
                    <h3>
                        Body
                    </h3>


                    <pre>
[
    {
        "commentsCount": 1,
        "likesCount": 1,
        "distanceInMeters": 0.0,
        "isLikedByMe": true,
        "id": 1,
        "name": "asdf",
        "description": "asdfasdfasf",
        "countOfViews": 0,
        "countOfImpressions": 34,
        "rating": null,
        "photos": [
            "http://localhost:20001/Resources/Photo/Object/607b3063-2b47-4c74-ad19-b7c52364d847"
        ],
        "tags": [
            "Here",
            "There"
        ],
        "type": "Lending",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 2,
        "name": "asdf",
        "description": "asdfasdfasf",
        "countOfViews": 0,
        "countOfImpressions": 34,
        "rating": null,
        "photos": [],
        "tags": [
            "Here",
            "There"
        ],
        "type": "Lending",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 3,
        "name": "asdf",
        "description": "asdfasdfasf",
        "countOfViews": 0,
        "countOfImpressions": 31,
        "rating": null,
        "photos": [],
        "tags": [
            "Here",
            "There"
        ],
        "type": "Free",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 1,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 4,
        "name": "asdf",
        "description": "asdfasdfasf",
        "countOfViews": 0,
        "countOfImpressions": 34,
        "rating": null,
        "photos": [
            "http://localhost:20001/Resources/Photo/Object/81722ef2-00b8-41cb-b8d2-b41339605712",
            "http://localhost:20001/Resources/Photo/Object/d348d55a-25e8-4536-a39d-ac95d5ae58af"
        ],
        "tags": [
            "Here",
            "There"
        ],
        "type": "Lending",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 5,
        "name": "Mixer",
        "description": "Working just fine",
        "countOfViews": 0,
        "countOfImpressions": 31,
        "rating": null,
        "photos": [],
        "tags": [
            "Elcitronic",
            "Home stuff"
        ],
        "type": "Free",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 6,
        "name": "Mixer",
        "description": "Working just fine",
        "countOfViews": 0,
        "countOfImpressions": 31,
        "rating": null,
        "photos": [],
        "tags": [
            "Elcitronic",
            "Home stuff"
        ],
        "type": "Free",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 0.0,
        "isLikedByMe": false,
        "id": 10,
        "name": "Mixer",
        "description": "Working just fine",
        "countOfViews": 0,
        "countOfImpressions": 23,
        "rating": null,
        "photos": [],
        "tags": [],
        "type": "Free",
        "owner": {
            "id": "3c564da8-1885-4b28-b770-e660b2535e5b",
            "username": "Abdulrhman.m.Alrifai@gmail.com",
            "name": "Abduluhman",
            "email": "Abdulrhman.m.Alrifai@gmail.com",
            "pictureUrl": "http://localhost:20000/Resources/Photo/Profile/e25e7913-dbee-42fe-9d36-1ccc29272bee"
        }
    },
    {
        "commentsCount": 0,
        "likesCount": 0,
        "distanceInMeters": 3824063.85327565,
        "isLikedByMe": false,
        "id": 12,
        "name": "This is also an object name",
        "description": "Also this is the object description",
        "countOfViews": 0,
        "countOfImpressions": 23,
        "rating": null,
        "photos": [],
        "tags": [
            "This is a tag name"
        ],
        "type": "Free",
        "owner": {
            "id": "dd6cafb3-b154-475e-a309-610f3d2d91bf",
            "username": "SecondUser@Street.com",
            "name": null,
            "email": "SecondUser@Street.com",
            "pictureUrl": "http://localhost:20000/favicon.ico"
        }
    }
]					 </pre>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>